.container {
  display: none;
}

.container.show {
  display: block;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 300px;
}

form button {
  width: fit-content;
  margin-top: 16px;
}

main,
#game,
#winContainer {
  width: clamp(300px, 100%, 700px);
  border: 1px solid black;
  padding: 16px;
}
